{% trans %}
<p>Kocaeli Açık Veri Platformu Kocaeli Büyükşehir Belediyesi ve iştirakleri ile diğer paydaşlar tarafından üretilen
    verilerin yayınlandığı ücretsiz veri platformudur.</p>

<p>Açık Veri Platformu, Kocaeli Büyükşehir Belediyesi Bilgi İşlem Dairesi Akıllı Şehirler ve Kent Bilgi Sistemleri
    tarafından oluşturulmuştur. Açık Veri Kocaeli’de öncelikle büyükşehir belediyemiz ve iştirakleri tarafından üretilen
    veriler yayınlanmakla beraber hedefimiz Kocaeli’ye ait veri üreten diğer paydaşların ürettiği verilerin de
    yayınlandığı bir platform oluşturmaktır. Böylece Kocaeli’de şehir yaşantısına katkı sağlayacak sosyal ve teknolojik
    inovasyon üretilme potansiyelini desteklemek, şeffaflığa katkı sunmak, akademisyenlere ve ilgisi olan her
    vatandaşımızın Kocaeli’ye özgü yerel çözümler geliştirmesine olanak sağlamak istiyoruz. Ortaya çıkacak başarı
    hikayalerini paylaşmayı bekliyoruz.</p>


{% endtrans %}