include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/mytheme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/mytheme/migration *.ini *.py *.mako
recursive-include ckanext/mytheme/public *.*
