{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
{% block item %}
<li>
  <div class="card-container">
    <!-- Kart komple tıklanabilir -->
    <a href="{{ url }}" class="card"
      title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}">

      <!-- Görsel alanı -->
      <div class="img-content">
        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}"
          alt="{{ organization.display_name }}"
          style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
      </div>

      <!-- İçerik -->
      <div class="content">
        <p class="heading">{{ organization.display_name }}</p>

        {% if organization.description %}
        <p>
          {{ h.markdown_extract(organization.description, extract_length=80) }}
        </p>
        {% endif %}

        <!-- Ribbon badge -->
        <span class="ckan-card__ribbon-label">
          Veri Seti Sayısı:
          {{ (organization.package_count or 0) | int }}
        </span>
      </div>
    </a>
  </div>
</li>
{% endblock %}

{% if position is divisibleby 3 %}
<li class="clearfix js-hide"></li>
{% endif %}